
body, html{
    height: 100%;
    overflow-x: hidden;
}
#mainContainer{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas:
    "navbar"
    "video"
    "videoInformation"
    "uploader"
    "commentSection"
    "recommendedVideos"
    ;

    grid-template-rows:  8vh auto auto auto auto auto auto;
    /* grid-gap: 3px; */
}

#video{
    width: 100%;
    display:block;
}

.color{
    background-color: cadetblue;
}
.color2{
    background-color: peru;
}

#navBarContainer{
    grid-area: navbar;
}

#videoContainer{
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;

}

#videoInformationContainer{
    grid-area: videoInformation;
}

#uploaderContainer{
    grid-area: uploader;
}

#commentSectionContainer{
    grid-area: commentSection;
}

#recommendedVideosContainer{
    grid-area: recommendedVideos;
}

/* **********************************************************************************NAV BAR ***************************************************************** */

#navBar{
    background-color: #1AD1F9;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "logo empty hamburger"
    ;
    grid-template-columns: 40vw auto 15vw;

}

#itemLogoContainer{
    grid-area: logo;
    display: flex;
justify-content: start;
align-items: center;
position: relative;

}
#logo{
    filter: invert(100%);
    height: 70%;
}

#logoTitle{
    color: white;
    padding: 0;
    margin:0;
    font-size: 1.4vh;
    font-family: 'Rock Salt', cursive;
}

#empty{
    grid-area: empty;
}

#itemHamburgerContainer{
    grid-area: hamburger;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburgerIconContainer{
    width: 30px;
    height: 30px;
    display:flex;
    justify-content: space-between;   
    flex-direction: column; 
    cursor: pointer;
}

.line{
    background-color: white;
    width: 100%;
    height: 4px;
    align-self: center;
}

@keyframes line1TurnToX{
    from{transform: translateY(0) rotate(0);}
    to{transform: translateY(13px) rotate(45deg);}
}

@keyframes line2TurnToX{
    from{left:0; opacity: 1;}
    to{left:-100px; opacity: 0;}
}

@keyframes line3TurnToX{
    from{transform: translateY(0) rotate(0);}
    to{transform: translateY(-13px) rotate(-45deg);}
}

.line1{
animation: line1TurnToX .5s forwards;
    transform: translateY(16.5px) rotate(45deg);

}
.line2{
    animation : line2TurnToX .5s forwards;
}
.line3{
    animation: line3TurnToX .5s forwards;

    transform: translateY(-16.5px) rotate(-45deg);
}

/* **********************************************************************************NAV BAR List***************************************************************** */

#navBarMenuContainer{
    display: none;
    position: absolute;
    background-color: #1AD1F9;
    z-index: 1;
    height: auto;
    width: 60vw;

    grid-template-rows: repeat(3, auto);
}

.mobileMenuItem{
    color: white;
    border-bottom: solid white 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    font-size: 2.5vh;
}

.mobileMenuItem:hover{
color: #868686;
}

#firstItem{
    border-top: solid white 2px;
}

/* *************************************************************************** VIDEO SECTION ****************************************************************************** */

#videoContainer{
    position: relative;
}

#videoOverlay{
    display:none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 133, 20, 0.5);
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
}

#videoContainer:hover #videoOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    animation: showVideoOverlay 0.5s linear forwards;
}

@keyframes showVideoOverlay{
    from{ display:none; opacity: 0;}
    to{ display: flex; opacity: 1;}
}

#settingsDiv{
    display: flex;
    justify-content: flex-end;
    filter: invert(100%);

}

#controlDiv{
    display: flex;
    justify-content: space-between;
    height: 20%;
    filter: invert(100%);
}

#controlDiv img{
    height: 100%;
    width: auto;
}

#playIcon{
    cursor: pointer;
    display: none;

}

#pauseIcon{
    cursor: pointer;

}

#timeAndTimeLineSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#timeLine{
    width: 80%;
    height: 1vh;
    background-color: white;
    position: relative;
    cursor : pointer;
}

#timeLineState{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #1AD1F9;
}

#time{
    padding: 0;
    margin: 0;
    color: white;
    margin: 0 1%;
}

#fullScreenIcon{
    margin: 0 1%;  
    height: auto;
    width: 8vw;
    cursor: pointer;
}

/* *************************************************************************** video description ****************************************************************************** */
#videoDescription{
    height: 100%;
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#videoTitle{
    font-size: 3.8vh;
    color: #1AD1F9;

}

#videoViews{
    font-size: 2vh;
    color: #868686;
}

/* *************************************************************************** uploader informations ****************************************************************************** */

#uploaderContainer{
    display : grid;
    grid-template-columns: 20% 80%;
    padding: 2% 0;
    background-color: white;
    border-bottom: solid 2px #1AD1F9;
    border-top: solid 2px #1AD1F9;

}

#uploaderProfilePictureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploaderProfilePicture{
    
    border-radius: 50%;
    /* display: none; */
    object-fit: cover;
    width: 60px;
    height: 60px;
}

#uploader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#uploader, p{
    padding: 0;
    margin: 0;
}

#uploaderName{
    color: black;
    font-size: 2.5vh;
}

#uploaderSubCount{
    font-size: 1.8vh;
    color: #868686;
}

/* *************************************************************************** user comments ****************************************************************************** */




#userCommentsContainer{
    min-height: 15vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "userCommentsProfilePic textareaComment"
    "postCommentContainer postCommentContainer"
    ;
    padding: 2%;
}

#userCommentProfilePic{
    grid-area: userCommentsProfilePic;
    border-radius: 50%;
    
    object-fit: cover;
    width: 45px;
    height: 45px;
    /* margin: 0 auto; */
}

#postCommentContainer{
    margin-top: 2%;
    grid-area: postCommentContainer;
    /* background-color: grey; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#postCommentButton{
    align-self: flex-end;
    width: 30%;
    height: 100%;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1AD1F9;
    border-radius: 6px;
    font-size: 1.8vh;

}

#postCommentButton:hover, #commentsButton:hover{
    color: #868686;
    cursor:pointer;
}




#commentsContainer{
    align-self: flex-end;
    margin: 0 auto;
    height: auto;
    width: 50vw;
    color: white;
    background-color: #1AD1F9;
    border-radius: 6px;
}

#commentsButton{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}



#commentsButtonText{
    display:inline-block;
    font-size: 1.5vh;
}

#commentsButtonArrow{
filter: invert(100%);
height: 2vh;
}

#textareaComment{
    grid-area: textareaComment;
    resize: none;
    font-size: 1.8vh;
    color: #868686;
}

/* *************************************************************************** other comments ****************************************************************************** */

.otherCommentsContainer{
    min-height: 15vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "otherCommentProfilePic otherUsernameAndComment"
    ;
    padding: 2%;
    border: solid black 1px;
}

.otherCommentProfilePic{
    grid-area: otherCommentProfilePic;
    border-radius: 50%;
    
    object-fit: cover;
    width: 45px;
    height: 45px;
}

.otherUsername{
    color: black;
    font-size: 2.2vh;
}

.otherCommentsText{
    font-size: 1.8vh;
    color: #868686;
}

.otherUsernameAndComment{
    grid-area: otherUsernameAndComment;
}
/* *************************************************************************** recommended videos ****************************************************************************** */

.recommendedVideo{
    display: grid;

    grid-template-areas: 
    "thumbnail"
    "TitleAndViews"
    ;

    grid-template-columns: 40vw 60vw;
    grid-template-rows: auto;

    background-color: white;
    /* border-bottom: solid 2px #1AD1F9; */
    cursor: pointer;
    /* box-shadow: 0 0px 6px grey; */
    
}

.thumbnailContainer{
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.thumbnail{
object-fit: contain;
width: 100%;
padding: 5%;

}

.recommendedTitleAndViews{
    background-color: white;
    margin: 5%;
}

.recommendedTitle{
    color: #000000;
    font-size: 2.2vh;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.recommendedViews, .recommendedUploader{
    font-size: 1.8vh;
    color: #868686;
}


/* *************************************************************************** cell en landscape mode ****************************************************************************** */



@media only screen and (min-width : 600px) {
    #mainContainer{    
        grid-template-rows:  15vh auto auto auto auto auto;

    }

    #navBar{
        grid-template-columns: 40vw auto 8vw;
    }

    .mobileMenuItem{
        font-size: 5vh;
    }

    #logoTitle{
        font-size: 4vh;
    }





    
    #videoTitle{
        font-size: 10vh;
    }
    
    #videoViews{
        font-size: 4.8vh;
        color: #868686;
    }



    

    #uploaderContainer{
        grid-template-columns: 10% 80%;
    }


    #uploaderProfilePictureContainer{
        /* padding: 0; */
    }


    #uploaderName{
        color: black;
        font-size: 6vh;
    }

    #uploaderSubCount{
        font-size: 3.5vh;
        color: #868686;
    }





    #userCommentsContainer{
        height: 40vh;
    }
    #postCommentButton{
        font-size: 3.5vh;
    }





    .recommendedTitle{
        color: black;
        font-size: 6vh;
    }

    .recommendedViews, .recommendedUploader{
        font-size: 3.5vh;
        color: #868686;
    }


    .recommendedVideo{
        grid-template-rows: auto;
       
    }


}








    .invert{
        filter: invert(100%);
    }