
body, html{
    height: 100%;
}
#mainContainer{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas:
    "navbar"
    "video"
    "videoInformation"
    "uploader"
    "commentSection"
    "recommendedVideos"
    ;

    grid-template-rows: 8vh 0fr 0fr 12vh auto auto;
    grid-gap: 3px;
}

#video{
    width: 100%;
    display:block;
}

.color{
    background-color: cadetblue;
}
.color2{
    background-color: peru;
}

#navBarContainer{
    grid-area: navbar;
}

#videoContainer{
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;

}

#videoInformationContainer{
    grid-area: videoInformation;
}

#uploaderContainer{
    grid-area: uploader;
}

#commentSectionContainer{
    grid-area: commentSection;
}

#recommendedVideosContainer{
    grid-area: recommendedVideos;
}

/* **********************************************************************************NAV BAR ***************************************************************** */

#navBar{
    background-color: #1AD1F9;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "logo empty hamburger"
    ;
    grid-template-columns: 2fr 3fr 1fr;
}

#itemLogoContainer{
    grid-area: logo;
    display: flex;
justify-content: center;
align-items: center;
}
#logo{
    filter: invert(100%);
}

#logoTitle{
    color: white;
    padding: 0;
    margin:0;
    font-size: 1.5vh;
}

#empty{
    grid-area: empty;
}

#itemHamburgerContainer{
    grid-area: hamburger;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburgerIconContainer{
    width: 50%;
    height: 50%;
    display:flex;
    justify-content: space-evenly;   
    flex-direction: column; 
    cursor: pointer;
}

.line{
    background-color: white;
    width: 100%;
    height: 12%;
    align-self: center;
}

/* *************************************************************************** VIDEO SECTION ****************************************************************************** */

#videoContainer{
    position: relative;
}

#videoOverlay{
    display:none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 133, 20, 0.5);
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
}

#videoContainer:hover #videoOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    animation: showVideoOverlay 0.5s linear forwards;
}

@keyframes showVideoOverlay{
    from{ display:none; opacity: 0;}
    to{ display: flex; opacity: 1;}
}

#settingsDiv{
    display: flex;
    justify-content: flex-end;
    filter: invert(100%);

}

#controlDiv{
    display: flex;
    justify-content: space-between;
    height: 20%;
    filter: invert(100%);
}

#controlDiv img{
    height: 100%;
    width: auto;
}

#playIcon{
    cursor: pointer;
    display: none;

}

#pauseIcon{
    cursor: pointer;

}

#timeAndTimeLineSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#timeLine{
    width: 80%;
    height: 1vh;
    background-color: white;
    position: relative;
    cursor : pointer;
}

#timeLineState{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #1AD1F9;
}

#time{
    padding: 0;
    margin: 0;
    color: white;
}

/* *************************************************************************** video description ****************************************************************************** */
#videoDescription{
    height: 100%;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: solid 2px #868686;
}

#videoTitle{
    font-size: 3.8vh;
}

#videoViews{
    font-size: 2vh;
    color: #868686;
}